@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200&display=swap');
.form{
    
    height: 500px;
    width: 450px;
    margin: 10px auto;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 2;
    padding: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 5px 2px lightblue;
}

.input_field{
    width: 400px;
    height: 40px;
    font-size: 20px;
}

.input_field:hover{
    background-color: #9eeb9e;
}
.btn{
    margin-top: 20px;
    margin-left: 120px;
    align-items: center;
    
}
label{
    font-weight: 400px;
    font-size: 20px;
}