@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
     
}
body{
    background: #edf0f1;
    background:url(image/bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
    
}

.nav_bar{
    box-shadow: 10px 5px 2px lightblue;
    border-radius: 10px;
    height: 100px;
    width: 100%;
    background-color: #24252a;
    margin:auto;
}


li , a, button{
    color: #edf0f1;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;

}

header{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    height:50px;
    width: auto;
    margin-right: auto;

}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #0088a9;

}

.btn{
    background: #0b910b;
    border: 1px solid #0b910b;
    font-size: 24px;
    color: #ffff;
    font-weight: 400px;
    padding: 12px 30px;
    border-radius: 50px;
    transition: all .5s;

}

.btn:hover{
    color: #0b910b;
    background-color: #ffffff; 
}


.main-header{
    width: 75px;
    margin-left: 290px;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main-header .header h5,h1{
    font-size: 30px;
    color: #0b910b;
    font-weight: 550;
}
.main-header h2{
    font-size: 48px;
    width: 340px;
    margin-top: 10px;
    margin-bottom: 24px;
}

.main-header p{
    margin-bottom: 60px;

}

.border{
    border: 2px solid gray;
    height: 400px;
    width: 300px;
    margin-top: 20px;
    margin-left: 600px;
}

.btn2{
    background: #0b910b;
    border: 1px solid #0b910b;
    width: 150px;
    height: 40px;
    margin: 350px auto;
    font-size: 24px;
    color: #ffff;
    font-weight: 400px;
    padding: 5px 10px;
    border-radius: 50px;
    transition: all .5s;
}

.btn2:hover{
    color: #0b910b;
    background-color: #ffffff; 
}
